@font-face {
  font-family: 'Luam-Regular';
  src: url('../projects/Luam-Regular.ttf');
}

@font-face {
  font-family: 'Luam-Light';
  src: url('../projects/Luam-Light.ttf');
}

@font-face {
  font-family: 'Luam-Bold';
  src: url('../projects/Luam-Bold.ttf');
}

h1 {
font-family: Luam-Regular;
}

h3 {
font-family: Luam-Regular;
}

p {
font-family: Luam-Light;
font-size: 23px;
}

.volunteer-card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-style {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  font-family: Luam-Regular !important;
  font-size: 22px !important;
  z-index: 999 !important;
}

.year-content {
    background-color: #ebf5eb;

}

.temp {
margin: 0px 100px 0px 100px;
    text-align: center;
    padding: 15px;
}

.carousel-style {
  width: 500px;
  height: 300px;
}

.middle {
  position: relative;
  height:300px;
}

.middle img {
  max-width: 100%;
  max-height:100%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}